.scrollContainer {
  overflow-y: auto;

  /* Hide scrollbar for Chrome, Safari, Opera */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}